{{ define "main" }}
<div class="container news-single-container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <article class="news-article">
                <header class="news-header">
                    <h1 class="news-title">{{ .Title }}</h1>
                    <div class="news-meta">
                        <span class="publish-date">发布时间: {{ .Date.Format "2006年1月2日" }}</span>
                        {{ if not .Lastmod.IsZero }}
                        <span class="update-date">最近更新于{{ .Lastmod.Format "2006年1月2日" }}</span>
                        {{ end }}
                        <span class="reading-time">• {{ .ReadingTime }}分钟阅读时长</span>
                    </div>
                </header>
                
                <div class="news-content">
                    {{ .Content }}
                </div>
                
                <div class="news-footer">
                    <a href="{{ .Parent.RelPermalink }}" class="back-to-news">返回</a>
                </div>
            </article>
        </div>
    </div>
</div>
{{ end }}